* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $body-size;
    font-family: $family;
    min-height: 100vh;
    background-color: $very-dark;
}
input, button {
    background: none;
    outline: none;
    border: none;
    transition: .3s linear;
    padding: 10px 20px;
}
button {
    cursor: pointer;
}