$violet: #652CD1;
$light-violet: #845EEE;
$very-dark: #121826;
$dark: #212936;
$light-dark: #394150;
$dark-grey: #4D5562;
$grey: #A1A1A9;
$light-grey: #E5E7EB;

$family: "Inter", sans-serif;

$title-size: 20px;
$tab-size: 14px;
$body-size: 16px;
$label-small-size: 12px;